@font-face {
    font-family: 'DancingScript';
    src: url('@/assets/fonts/DancingScript/DancingScript-Regular.ttf')
        format('truetype');
}

@font-face {
    font-family: 'Pacifico';
    src: url('@/assets/fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lora';
    src: url('@/assets/fonts/Lora/Lora-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Bodoni';
    src: url('@/assets/fonts/Bodoni/bodoni-72-oldstyle-book.ttf')
        format('truetype');
}

/* custom class with styles */
.font-pacifico {
    font-family: Pacifico;
}

.font-dancing-script {
    font-family: DancingScript;
}

.font-lora {
    font-family: Lora;
}

.font-bodoni {
    font-family: Bodoni;
}
