:root {
  --2560px-screen-ratio: 1;
  --2048px-screen-ratio: 0.8;
  --1920px-screen-ratio: 0.75;
  --1600px-screen-ratio: 0.625;
  --1280px-screen-ratio: 0.5;
  --1024px-screen-ratio: 0.4;
  --720px-screen-ratio: 0.28125;
  --360px-screen-ratio: 0.140625;
}
