:root {
    /* declare color variables */
    --color-cream: #fdf0d1;
    --color-blue: #7bd3ea;
    --color-red: #ce5a67;
    --color-green: #a1eebd;
    --color-yellow: #f6f7c4;
    --color-brown: #ffdd95;
    --color-pink: #fed9ed;
    --color-purple: #ed5ab3;
    --color-black: black;
    --color-white: whitesmoke;
}
