/* import fonts settings */
@import '_fonts.css';
/* import animations  */
@import '_animations.css';

/* setup init styles */
body {
    margin: 0px;
    overflow: hidden;
    cursor: url(../../public/assets/icons/pixel-kuromi.png), auto;
}

button {
    &:hover {
        cursor: url(../../public/assets/icons/pixel-kuromi.png), auto;
    }
}

a {
    text-decoration: none;

    :hover {
        font-weight: bold;
    }
}

p,
h6,
h5,
h4,
h3,
h2,
h1 {
    margin: 0px;
    font-weight: 400;
    font-family: Bodoni;
}

p {
    font-size: 1.5rem;
}

h6 {
    font-size: 2rem;
}

h5 {
    font-size: 2.5rem;
}

h4 {
    font-size: 3rem;
}

h3 {
    font-size: 3.5rem;
}

h2 {
    font-size: 4rem;
}

h1 {
    font-size: 4.5rem;
}

img {
    width: 100%;
    height: 100%;
}

/* custom class with styles */
.font-pacifico {
    font-family: Pacifico;
}

.font-dancing-script {
    font-family: DancingScript;
}

.font-lora {
    font-family: Lora;
}

.font-bodoni {
    font-family: Bodoni;
}
