/* import fonts settings */
@import '_fonts.css';
/* import animations  */
@import '_animations.css';
/* import variables */
@import '_variables.css';
/* import settings */
@import '_typography.css';

html {
  scroll-behavior: smooth;
}

/* setup init styles */
@media (prefers-reduced-motion: no-preference) {
  body {
    margin: 0px;
    overflow: hidden;
    cursor: url(/assets/icons/pixel-kuromi.webp), auto;
  }
}

button {
  &:hover {
    cursor: url(/assets/icons/pixel-kuromi.webp), auto;
  }
}

a {
  text-decoration: none;

  :hover {
    font-weight: bold;
  }
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
